{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "website/assets/favicon-32x32.png" %}">
  <link rel="stylesheet" href="{% static 'website/css/dist/main.css' %}">
  
  <title>Frontend Mentor | Audiophile e-commerce website</title>
</head>
<body>
  <header class="header">
    <nav class="navigation navigation--border-bottom">
      <button class="navigation__hamburger">
        <img src="{% static "website/assets/shared/tablet/icon-hamburger.svg" %}" alt="menu" />
      </button>
      <figure>
        <img src="{% static "website/assets/shared/desktop/logo.svg" %}" alt="Audiophile's logo" />
      </figure>
      <ul class="menu">
        <li><a class="menu__link" href="#">Home</a></li>
        <li><a class="menu__link" href="#">Headphones</a></li>
        <li><a class="menu__link" href="#">Speakers</a></li>
        <li><a class="menu__link" href="#">Earphones</a></li>
      </ul>
      <button class="navigation__cart">
        <img src="{% static "website/assets/shared/desktop/icon-cart.svg" %}" alt="Cart icon" />
      </button>
    </nav>
  </header>
  <article class="card card--hero">
    <p class="card__overline">New product</p>
    <h1 class="card__title card__title--h1">
      <span>XX99 Mark II</span>
      <span>Headphones</span>
    </h1>
    <p class="card__description">
      Experience natural, lifelike audio and exceptional 
      build quality made for the passionatemusic enthusiast.
    </p>
    <button class="button button--primary card__button">
      See product
    </button>
  </article>
  <nav class="category">
    <ul class="category__menu">
      <li class="category__item">
        <a href="#" class="category__link category__link--headphones">
          <span>Headphones</span>
          <span class="category__button">Shop</span>
        </a>
      </li>
      <li class="category__item">
        <a href="#" class="category__link category__link--speakers">
          <span>Speakers</span>
          <span class="category__button">Shop</span>
        </a>
      </li>
      <li class="category__item category__item--earphones">
        <a href="#" class="category__link category__link--earphones">
          <span>Earphones</span>
          <span class="category__button">Shop</span>
        </a>
      </li>
    </ul>
  </nav>
  <ul class="home-gallery">
    <li class="home-gallery__item home-gallery__item--first">
      <article class="card home-gallery__card home-gallery__card--first">
        <h1 class="card__title card__title--h1">
          <span>ZX9</span>
          <span>speaker</span>
        </h1>
        <p class="card__description">
          Upgrade to premium speakers that are phenomenally
          built to deliver truly remarkable sound.
        </p>
        <button class="button button--primary-black card__button">See product</button>
      </article>
    </li>
    <li class="home-gallery__item home-gallery__item--second">
      <article class="card home-gallery__card home-gallery__card--second">
        <h1 class="card__title card__title--h4">
          ZX7 speaker
        </h1>
        <button class="button button--secondary card__button">See product</button>
      </article>
    </li>
    <li class="home-gallery__item home-gallery__item--third">
      <article class="card home-gallery__card home-gallery__card--third">
        <h1 class="card__title card__title--h4">
          YX1 earphones
        </h1>
        <button class="button button--secondary card__button">See product</button>
      </article>
    </li>
  </ul>
  <section class="about">
    <article class="article about__article">
      <h2 class="header-2 about__title">
        Bringing you the <em class="emphasis">best</em> audio gear
      </h2>
      <p class="paragraph">
        Located at the heart of New York City, Audiophile is the premier store for high end headphones, 
        earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration 
        rooms available for you to browse and experience a wide range of our products. Stop by our store 
        to meet some of the fantastic people who make Audiophile the best place to buy your portable 
        audio equipment.
      </p>
    </article>
    <picture class="about__picture">
      <source class="image" media="(min-width:769px)" srcset="{% static "website/assets/shared/desktop/image-best-gear.jpg" %}"/>
      <source class="image" media="(min-width:481px)" srcset="{% static "website/assets/shared/tablet/image-best-gear.jpg" %}"/>
      <source class="image"  srcset="{% static "website/assets/shared/mobile/image-best-gear.jpg" %}"/>
      <img class="image" src="{% static "website/assets/shared/desktop/image-best-gear.jpg" %}" alt="A young man listening to music" />
    </picture>
  </section>

  Audiophile is an all in one stop to fulfill your audio needs. We're a small team of music lovers 
  and sound specialists who are devoted to helping you get the most out of personal audio. Come and 
  visit our demo facility - we’re open 7 days a week.

  Copyright 2021. All Rights Reserved
</body>
</html>