@mixin h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 56px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 58px;
    letter-spacing: 2px;
}

@mixin h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 44px;
    letter-spacing: 1.5px;
}

@mixin h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 36px;
    letter-spacing: 1.15px;
}

@mixin h4 {
    font-family: 'Manrope', sans-serif;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 38px;
    letter-spacing: 2px;
}

@mixin h5 {
    font-family: 'Manrope', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 33px;
    letter-spacing: 1.7px;
}

@mixin h6 {
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    letter-spacing: 1.3px;
}

@mixin overline {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 19px;
    letter-spacing: 10px;
}

@mixin subtitle {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 25px;
    letter-spacing: 1px;
}

@mixin body {
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

@mixin container {
    box-sizing: border-box;
    width: 100%;
    padding-left: max(calc(50% - var(--container) / 2), 2rem);
    padding-right: max(calc(50% - var(--container) / 2), 2rem);
}

@mixin small {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin medium {
    @media screen and (max-width: 768px) {
        @content;
    }
}