@use "../abstracts/index" as *;

.paragraph {
    @include body;

    &--underline {
        text-decoration: underline;
    }

    &--bold {
        font-weight: bold;
    }

    &--space-between {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &--white {
        color: var(--white);
    }

    &--black {
        color: var(--black);
    }

    &--high-opacity {
        opacity: 75%;
    }

    &--opacity-50 {
        opacity: 50%;
    }

    &--upper {
        text-transform: uppercase;
    }

    &--remove {
        width: 75px;
    }
}