@use "../abstracts/index" as *;

.home-gallery {
    @include container;

    &__item {
        display: flex;
        justify-content: flex-end;
        background-color: var(--primary);
        padding: 8rem;
        border-radius: var(--radius);
        background-image: url("/static/website/assets/home/desktop/image-speaker-zx9.png"), url("/static/website/assets/home/desktop/pattern-circles.svg");
        background-repeat: no-repeat, no-repeat;
        background-size: 410px 493px, 944px;
        width: 100%;
        height: 100%;
        background-position: 117px 96px, -149px -96px;
    }

    &__card {
        padding: 0;
        width: fit-content;
        position: relative;
    }
}

/* 
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        background-image: url("/static/website/assets/home/desktop/image-speaker-zx9.png"), url("/static/website/assets/home/desktop/pattern-circles.svg");
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
        background-size: 410px 493px, 944px;
        width: 100%;
        height: 100%;
    }
*/