@use "../abstracts/index" as *;

.cart-card {
    display: grid;
    align-items: center;
    grid-template-columns: 64px 1fr 1fr;
    gap: 1rem;

    &--border-bottom {
        padding-bottom: 0.75rem;
        border-bottom: 1px solid hsl(0, 0, 59%, 100%);
    }

    &__picture {
        height: 64px;
        width: 64px;
    }

    &__counter {
        justify-self: flex-end;
    }
}