@use "../abstracts/index" as *;

.checkout {
    display: flex;
    gap: 1.875rem;
    @include container;

    &__form {
        display: flex;
        flex-direction: column;
        gap: 3.313rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 3.375rem;
        padding-right: 3.375rem;
        max-width: 730px;
        border-radius: var(--radius);
        background-color: var(--white);
    }
}