@use "../abstracts/" as *;

.field {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

    &--row {
        flex-direction: row;
    }

    &--full-width {
        grid-column: 1 / 3;
    }
}