@use "../abstracts/index" as *;

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include container;
    background-color: var(--black);

    &__title {
        padding: 6.125rem;
        text-align: center;
    }

    &__content {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }

    &--hero {
        background-image: url("/static/website/assets/home/desktop/image-hero.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    @include medium {
        &--hero {
            background-image: url("/static/website/assets/home/tablet/image-header.jpg");
        }
    }

    @include small {
        padding-left: 0;
        padding-right: 0;

        &__navigation {
            padding: 2rem;
        }

        &--hero {
            background-image: url("/static/website/assets/home/mobile/image-header.jpg");
        }
    }
}