@use "../abstracts/" as *;

.menu {
    display: flex;
    gap: 2rem;

    &__link {
        color: var(--white);
        @include subtitle;

        &:hover {
            color: var(--primary);
        }
    }

    @include medium {
        display: none;
    }
}