.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9.8rem;
  background-image: url('./assets/home/large/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: $radius;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  @include medium {
    padding-bottom: 10.3rem;
    background-image: url('./assets/home/medium/image-header.jpg');
    border-radius: 0;
  }

  @include small {
    padding-bottom: 6.8rem;
    background-image: url('./assets/home/small/image-header.jpg');

    &__wrapper {
      gap: 6.5rem;
    }
  }
}
