.menu {
  display: flex;
  align-items: center;
  position: relative;

  &__ul {
    display: flex;
    gap: 2rem;
  }

  &__link {
    color: white;

    &:hover {
      color: $color-primary;
    }
  }

  &__hamburger {
    display: none;
  }

  @include medium {
    margin-right: 2.6rem;

    &__nav {
      position: absolute;
      top: 80px;
    }

    &__hamburger {
      display: block;
    }
  }

  @include small {
    margin-right: 0;
  }
}
