.social {
  &__inner {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  &--copyright {
    display: none;
  }
  @include medium {
    &--copyright {
      display: block;
    }
    &--about {
      display: none;
    }
  }
}
